{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
{% if decision == 'approved' or decision == 'approved_paid' %}

<p>Your application {{ proposal.lodgement_number }} to amend your permit has been approved. Please refer to the attached document for full details.</p>

<p><b>If you have changed the vessel on your permit:</b></p>

<p>All stickers issued in the current boating season for the previous vessel must be returned to the Rottnest Island Authority before stickers for your new vessel can be issued.</p>

<p><b>For Authorised User Permit Holders:</b></p>

<p>If the vessel has not changed, your new sticker/s will be posted to you. Once received, you are required to return all prior permit sticker/s to our office for auditing.</p>

<p>You can track the progress by logging into the Mooring Licensing Portal.</p>

<p>Please note: Penalties apply if stickers are not returned or surrendered upon request, or prior to the sale or disposal of your vessel.</p>

<p>Once you receive your new sticker/s, ensure they are displayed on the port side of your vessel while within the Marine Reserve.</p>
{% endif %}
{% if decision == 'declined' %}
<p>Your authorised user application {{ proposal.lodgement_number }} has been declined.</p>
{% endif %}
{% if details %}<p>Details: {{ details }}</p>{% endif %}
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
